*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
    box-sizing: border-box;
}

body {
    background: #110202;
    color: #fdfdfd;
    background-image:url('images/igor-kasalovic-tNDvFkxkBHo-unsplash.jpg');
}

.container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 700px;
}

.container h1 {
    text-align: center;
}

.container button {
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 20px;
}

.display {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    background: #fff;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 20px;
    border-radius: 5px;

}

.container h1 {
    font-weight: 500;
    font-size: 45;
}

.container h1 span {
    color: #000000;
    font-weight: 550;
    font-family:'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
    border-bottom: 4px solid #080101;
    padding-bottom: 7px;
    transition: font-size 0.4s ease, color 0.4s ease;
}

.container span:hover {
    font-size: 35px;
    color:rgb(14, 96, 14);
    border-bottom: 5px solid rgb(14, 96, 14);
    padding-bottom: 14px;
    font-weight: 600;
}


.container h1  {
    cursor: pointer;
}

.display img {
    width: 40;
    cursor: pointer;
}

.display input {
    border: 0;
    outline: 0;
    font-size: 24px;

}

.container button img {
    width: 28;
    margin-right: 10px;
}

.container button {
    border: 0;
    outline: 0;
    background: #019f55;
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 26px;
    border-radius: 5px;
    cursor: pointer; 
    transition: padding 0.4s ease, font-size 0.4s ease;
}

.container button:hover {
    padding: 25px 35px;
    font-size: 26px; 
    
}
